.block1,
.block2,
.block3,
.block4 {
	width: 470px;
	height: 160px;
	display: flex;
}
.block5 {
	width: 470px;
	height: 160px;
}
.linear-gradient1 {
	height: 150px;
	width: 150px;
	background: linear-gradient(to top, #fff, #f2db39);
	border: 1px black solid;
}
.linear-gradient2 {
	height: 150px;
	width: 150px;
	background: linear-gradient(to left, #fff, #f2db39);
	border: 1px black solid;
	margin-left: 10px;
}
.linear-gradient3 {
	height: 150px;
	width: 150px;
	background: linear-gradient(to right, #fff, #f2db39);
	border: 1px black solid;
	margin-left: 10px;
}
.linear-gradient4 {
	height: 150px;
	width: 250px;
	background: linear-gradient( #ff0000 33%, #fff 33% 66%, #ff0000 66% 100%);
	border: 1px black solid;
}
.linear-gradient5 {
	height: 150px;
	width: 250px;
	background: linear-gradient(
		to right,
		#ff0000 10%,
		#0000ff 50% 70%,
		#fff 90%,
		#ff0000 100%
	);
	border: 1px black solid;
	margin-left: 10px;
}
.radial-gradient1 {
	height: 150px;
	width: 150px;
	background: radial-gradient(#61dcfb, #098abb);
	border: 1px black solid;
}
.radial-gradient2 {
	height: 150px;
	width: 310px;
	background: radial-gradient(#61dcfb, #098abb);
	border: 1px black solid;
	margin-left: 10px;
}
.radial-gradient3 {
	height: 150px;
	width: 250px;
	background: radial-gradient(
		circle closest-side at 20px 20px,
		#61dcfb,
		#098abb
	);
	border: 1px black solid;
}
.radial-gradient4 {
	height: 150px;
	width: 250px;
	background: radial-gradient(circle, #333333 10%, #fff 10% 20%, #008001 20%);
	border: 1px black solid;
	margin-left: 10px;
}
.repeating1 {
	width: 470px;
	height: 100px;
	border: 1px black solid;
	background: repeating-linear-gradient(#000000 0% 3%, #fff 4% 7%);
}
.repeating2 {
	width: 470px;
	height: 50px;
	border: 1px black solid;
	background: repeating-linear-gradient(45deg, #ff0000 0% 1%, #fff 1% 2%);
	margin-top: 10px;
}
.repeating3 {
	width: 470px;
	height: 500px;
	border: 1px black solid;
	background: repeating-radial-gradient(circle, #000000 0% 1%, #fff 1% 2%);
	margin-top: 10px;
}
