main {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
div {
	background-color: blue;
	width: 200px;
	height: 300px;
	margin: 5px;
	padding: 15px;
	color: white;
}
@media screen and (min-width: 1000px) {
	div {
		background-color: blue;
		width: 200px;
		height: 300px;
		margin: 5px;
		padding: 15px;
		color: white;
	}
}
@media screen and (max-width: 1000px) and (min-width: 820px) {
	div {
		background-color: blue;
		width: 300px;
		height: 300px;
		margin: 5px;
		padding: 15px;
		color: white;
	}
}
@media screen and (max-width: 820px) {
	div {
		background-color: blue;
		width: 300px;
		height: 300px;
		margin: 5px;
		padding: 15px;
		color: white;
	}
}
