div {
	border: solid 1px black;
	height: 200px;
	width: 200px;
	margin-bottom: 50px;
}
.d_1:hover {
	cursor: pointer;;
}
.d_2:hover {
	cursor: progress;
}
.d_3:hover {
	cursor: wait;
}
.d_4:hover {
	cursor: url(img/asteroid.png), pointer ;
}
