li {
	list-style: none;
	display: inline;
}
li:not(:last-child)::after {
	content: '>';
  padding: 5px;
}
a {
	text-decoration: none;
	color: #0b56ea;
}
a:hover {
	text-decoration: underline;
}
span {
	color: #333;
}
