div {
	border: 1px black solid;
	height: 200px;
	width: 200px;
  margin-bottom: 100px;
  margin-left: 50px;
}
.div1{
  box-shadow: 30px 30px 20px gray;
}
.div2{
  box-shadow: 30px 30px 20px gray, -30px -30px 20px gray;
}
.div3{
  box-shadow: inset 5px 5px 10px gray;
}
