h1 {
	text-align: center;
	color: white;
	background-color: mediumpurple;
	position: fixed;
	width: 100%;
	height: 60px;
	padding-top: 20px;
	margin-top: -10px;
	top: 0;
	left: 0;
}
.article {
	border: 1px solid mediumpurple;
	width: 80%;
	margin: 100px;
	padding: 20px;
}
