.both {
	resize: both;
}
.none {
	resize: none;
}
.horizontal {
	resize: horizontal;
}
.vertical {
	resize: vertical;
}
body{
  width: 20%;
  text-align: center;
}
textarea{
  margin-bottom: 50px;
  height: 100px;
}
