button {
	text-align: center;
	color: white;
	background-color: #1cbc11;
	width: 100%;
	height: 35px;
	border: 0px;
}
button:hover {
	background-color: #14a20a;
}
input {
	border-color: #ccc;
	width: 98%;
	margin: 5px;
	height: 30px;
	margin-left: -0.1px;
}
form {
	max-width: 320px;
	height: 260px;
	background-color: #fff;
}
body {
	background-color: #faf6f6;
}
